@model PrivateInstallationViewModel

@{
    ViewBag.Title = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Meine home</h1>
</div>


<div>
    Meine Installation hinzuflügen

    <button name="button" onclick="location.href='/PrivateInstallation/Index'" style="width: 100px; height: 80px;">
        <img src="~/Images/plus.png" alt="Go to add PrivateInstallation" style="width: 70px; height: 70px;" />
    </button>
